.row-container {
  width: 100%;
  border-radius: 8px;
  contain: strict;
}
.row-container {
  transition: background-color 0.3s ease;
}
.row-container:hover,
.is-menu-open  {
  background: var(--color-dark-soft);
  transition: background-color 0.2ms ease-out;
}

.row-content {
  display: flex;
  padding: 0px var(--list-padding);
  height: 100%;
}

.card-slot {
  display: flex;
  align-items: center;
  align-content: center;
}

.infos {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  margin-left: 16px;
}
.text-group {
  flex: auto;
  min-width: 0;
  width: 100%;
  align-content: center;
}

.icon-slot {
  flex: none;
  width: 32px;
  align-content: center;
  margin-right: var(--list-padding);
}

.menu-slot {
  z-index: 10;
  flex: none;
  align-content: center;
  margin-right: var(--list-padding);
}

.separator {
  position: absolute;
  color: var(--color-dark-soft);
  bottom: -0.5px;
  left: 0;
  right: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
