<div class="action action-left">
  
  @switch (leftButtonType()) {
    @case ('settings') {
      <button class="action-button menu-background" (click)="goToSettings()">
        <img class="chevron" src="assets/icons/settings.svg"/>
      </button>
    }
    @case ('home') {
      <button class="action-button menu-background" (click)="goToHome()">
        <img class="chevron" src="assets/icons/plus.svg" style="transform: rotate(45deg);"/>
      </button>
    }
    @default {
      <button class="action-button menu-background" (click)="goToPreviousPage()">
        <img class="chevron" src="assets/icons/chevron.svg"/>
      </button>
    }
  }
</div>

<div class="action action-right">
  <ng-content></ng-content>
</div>
