.action {
  position: absolute;
  top: 12px;
}
.action-left {
  left: 8px;
}
.action-right {
  right: 8px;
  display: flex;
  flex-direction: row;
}

.chevron {
  transform: rotate(180deg) translateX(5px);
}
