.action {
  position: fixed;
  z-index: 1000;
  top: 16px;
}
.action-left {
  left: 16px;
}
.action-right {
  right: 16px;
  display: flex;
  flex-direction: row;
}

.chevron {
  transform: rotate(180deg);
}
