.action {
  position: fixed;
  z-index: 1000;
  top: 12px;
}
.action-left {
  left: var(--side-margin);
}
.action-right {
  right: var(--side-margin);
  display: flex;
  flex-direction: row;
}

.chevron {
  transform: rotate(180deg);
}
