.action {
  position: absolute;
  top: 12px;
}
.action-left {
  left: var(--action-step);
}
.action-right {
  right: var(--action-step);
  display: flex;
  flex-direction: row;
}

.chevron {
  transform: rotate(180deg);
}
