<app-action-bar>
  <app-dropdown
    [customClass]="'action-button'"
    [isOpenExternal]="true"
  >
    <button (click)="addCollection()">
      + Create collection
    </button>
    <button (click)="addCollection(true)">
      + Create dynamic collection
    </button>
  </app-dropdown>
</app-action-bar>

<section class="page-container">
  <div class="page-header">
    <h1> Collections </h1>

    <div class="search-box">
      <input 
        class="input-search"
        type="text"
        placeholder="Search a collection..."
        [value]="searchQuery()"
        (input)="searchQuery.set($any($event.target).value)"
      />
    </div>
  </div>

  <app-collections-virtualization 
    class="virtual-host"
    [collectionIds]="collectionIds()"
  >
  </app-collections-virtualization>
</section>
