<div class="info">
  @for (director of movie.directors; track director) {
    <a [routerLink]="['/metadata', metadataType.PERSON, director.id]">
      <p class="directors">{{ director.name }}</p>
    </a>
  }
  @for (g of movie.genre; track g) {
    <a [routerLink]="['/metadata', metadataType.GENRE, g.id]">
      <p class="genre">{{ g.name }}</p>
    </a>
  }
  <p class="duration">{{ movie.duration | duration }}</p>
  @for (saga of movie.saga; track saga) {
    <a [routerLink]="['/metadata', metadataType.SAGA, saga.id]">
      <p class="saga">{{ saga.name }}</p>
    </a>
  }
</div>
