<app-generic-list 
  [items]="layoutData()"
  [itemHeight]="containerHeight()"
  (windowResize)="updateDimensions()" 
>
  <ng-template #rowRef let-item let-index="index">
    @if (item; as result) {
      @let route = item.isInLibrary 
        ? ['/media', result.id]
        : ['/media', 'api', result.mediaType, result.externalId];
      <a [routerLink]="route">
        <app-api-search-row 
          [entity]="result" 
          [width]="containerWidth()" 
          [height]="containerHeight()"
        >
          <app-api-search-add-action
            menu
            [data]="item"
            (click)="$event.preventDefault(); $event.stopPropagation()"
          ></app-api-search-add-action>
        </app-api-search-row>
      </a>
    }
  </ng-template>
</app-generic-list>
