<app-generic-list 
  [items]="enrichedData()"
  [itemHeight]="containerHeight()"
  (windowResize)="updateDimensions()" 
>
  <ng-template #rowRef let-item let-index="index">
    @if (item; as result) {
      @let route = result.isInLibrary && result.id
        ? ['/search/media', result.id]
        : ['/search/media', 'api', result.mediaType, result.externalId, hasBeenAdded()];
      <a [routerLink]="route">
        <app-api-search-row 
          [entity]="result" 
          [width]="containerWidth()" 
          [height]="containerHeight()"
          [isMenuOpen]="false"
        >
          <app-api-search-action
            menu
            [data]="item"
            (click)="$event.preventDefault(); $event.stopPropagation()"
            (beforeAdded)="hasBeenAdded.set(true)"
          ></app-api-search-action>
        </app-api-search-row>
      </a>
    }
  </ng-template>
</app-generic-list>
