.collection-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.collection-header {
  padding: 20px;
}

.viewport-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  position: relative;
  padding-top: 6px;
  contain: strict;
}

.card {
  margin: 0px 4px;
  will-change: transform;
  transition: transform var(--scale-card-out) ease;

  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.card img {
  width: 100%; 
  height: 100%; 
  background-color: #333;
  object-fit: cover; 
  border-radius: 12px;
}

.card:hover {
  transition: transform var(--scale-card-in) ease-out;
  transform: scale(var(--scale-width), var(--scale-height));
  z-index: 10;
}
