@if (loading) {
  <p>Loading ...</p>
}
@else if (collection) {
  <section class="collection-layout">

    <div class="collection-header">
      <h1> {{collection.name}} </h1>
      <div style="display: flex; justify-content:space-around;">
        <p> {{collection.collectionType}} </p>
        <p> {{collection.mediaType}} </p>
        <p> {{collection.addedDate}} </p>
        <p> {{collection.favorite}} </p>
        <p> {{collection.hasImage}} </p>
        <p> {{collection.preferedView}} </p>
        <p> {{collection.sortOrder}} </p>
        <p> {{collection.description}} </p>
      </div>
    </div>

    <div #scrollElement class="viewport-container">
      <div
        [style.height.px]="virtualizer.getTotalSize()"
        style="width: 100%; position: relative;"
      >
        @for (vRow of virtualizer.getVirtualItems(); track vRow.key) {
          <div
            [style.height.px]="rowHeight()"
            [style.transform]="'translateY(' + vRow.start + 'px)'"
            style="position: absolute; top: 0; left: 0; width: 100%;" 
          >
            @for (item of rows()[vRow.index]; track item.media.id) {
              
              <div
                [style.width.px]="item.width"
                [style.height.px]="item.height"
                [style.transform]="'translateX(' + item.x + 'px)'"
                style="position: absolute; top: 0; left: 0;" 
              >
                <div class="card"
                  [style.--scale-width]="1 + (8 / item.width)"
                  [style.--scale-height]="1 + (8 / item.height)"
                >
                  <a [routerLink]="['/media', item.media.id]">
                    <img 
                      [src]="item.media.id | posterPath"
                      [alt]="item.media.title"
                      [style.width.px]="item.width"
                    >
                  </a>
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>

  </section>
}
