@if (loading) {
  <p>Loading ...</p>
}
@else if (mediaLayoutData()) {
  <section class="collection-layout">

    <div #scrollElement class="viewport-container">
      <div
        [style.height.px]="virtualizer.getTotalSize()"
        style="width: 100%; position: relative;"
      >
        @for (vRow of virtualizer.getVirtualItems(); track vRow.key) {
          <div
            [style.height.px]="rowHeight()"
            [style.transform]="'translateY(' + vRow.start + 'px)'"
            style="position: absolute; top: 0; left: 0; width: 100%;" 
          >
            @for (item of rows()[vRow.index]; track item.uniqueKey) {

              <div
                [style.width.px]="item.width"
                [style.height.px]="item.height"
                [style.transform]="'translateX(' + item.x + 'px)'"
                style="position: absolute; top: 0; left: 0;" 
              >
                <div class="card"
                  [style.--scale-width]="1 + (8 / item.width)"
                  [style.--scale-height]="1 + (8 / item.height)"
                >
                  @if (visibleMediaMap()[item.id]; as media) {
                    <a [routerLink]="['/media', media.id]">
                      <img 
                        [src]="media.id | posterPath"
                        [alt]="media.title"
                        [style.width.px]="item.width"
                      >
                    </a>
                  } @else {
                    <div class="skeleton-card" [style.width.px]="item.width" [style.height.px]="item.height"></div>
                  }
                </div>
              </div>
            }

          </div>
        }
      </div>
    </div>

  </section>
}
