@if (collection(); as collection) {

  @switch (view) {
    @case (CollectionDisplayMode.PREVIEW) {
      <app-collection-line
        [collection]="collection"
        [mediaLayoutData]="mediaLayoutData()"
      >
        <ng-content collectionMenu select="[collectionMenu]"></ng-content>
        <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
          <app-media-card 
            [mediaId]="mediaId" [width]="width" [height]="height"
            [isMenuOpen]="isMenuOpen(mediaId)"
          >
            <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
              <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
            </div>
          </app-media-card>
        </ng-template>
      </app-collection-line>
    }
    @case (CollectionDisplayMode.DETAILS) {
      <app-action-bar>
        <app-dropdown 
          [customClass]="'action-button'"
          [isOpenExternal]="false">
        </app-dropdown>
      </app-action-bar>

      <section class="page-container">

        <div class="page-header">
          <h1 
            contenteditable="true"
            #nameInput
            (blur)="onNameBlur(nameInput.innerText)"
            (keydown.enter)="$event.preventDefault(); nameInput.blur()"
            (keydown.escape)="nameInput.innerText = name(); nameInput.blur()"
            class="editable-title"
          >
            {{ name() }}
          </h1>

          <div class="search-box">
            <input 
              class="input-search"
              type="text"
              placeholder="Search on the collection..."
              [value]="searchQuery()"
              (input)="searchQuery.set($any($event.target).value)"
            />
          </div>

          <div style="display: flex; justify-content:space-around;">
            <p> {{collection.collectionType}} </p>
      
            <p> 
              @if (collection.mediaType.type === 'ALL') {
                <span>All</span>
              }
              @else {
                <span>{{ collection.mediaType.value | humanize }}</span>
              }
            </p>
      
            <p> {{collection.addedDate}} </p>
      
            <div>
              <button (click)="onToggleFavorite()" [class.is-favorite]="favorite()">
                @if (favorite()) {
                  ❤️
                } @else {
                  🩶
                }
              </button>
            </div>
      
            <p> {{collection.hasImage}} </p>
      
            <div class="collection-layout-box">
              <select 
                [value]="preferredLayout()" 
                (change)="onLayoutChange($any($event.target).value)"
              >
                @for (opt of collectionLayoutOption; track opt) {
                  <option [value]="opt" [selected]="opt === preferredLayout()">{{ opt }}</option>
                }
              </select>
            </div>

            <app-sort-manager 
              [sortOrder]="sortOrder()" 
              (sortOrderChange)="onSortChanged($event)"
            />

            @if (collection.collectionType === 'DYNAMIC') {
              <app-filter-manager 
                [filter]="filter()" 
                (filterChange)="onFilterChanged($event)"
              />
            }
            @else if (collection.collectionType === CollectionType.MANUAL) {
              <button class="plus-btn" (click)="showPicker.set(true)">
                <span class="icon">＋</span> Ajouter des médias
              </button>
            }
      
            <div class="fieldset-container">
              <label class="fieldset-label">Description</label>
              <textarea 
                #descriptionArea
                [value]="description()"
                (blur)="onDescriptionBlur(descriptionArea.value)"
                (keydown.escape)="descriptionArea.value = description(); descriptionArea.blur()"
                placeholder="Description..."
              ></textarea>
            </div>
      
          </div>
        </div>


        @switch (preferredLayout()) {
          @case (CollectionLayout.GRID) {
            <app-collection-grid
              class="virtual-host"
              [mediaLayoutData]="mediaLayoutData()"
            >
              <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
                <app-media-card 
                  [mediaId]="mediaId" [width]="width" [height]="height"
                  [isMenuOpen]="isMenuOpen(mediaId)"
                >
                  <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                    <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
                  </div>
                </app-media-card>
              </ng-template>
            </app-collection-grid>
          }
          @case (CollectionLayout.ROW) {
            <app-collection-row
              class="virtual-host"
              [mediaLayoutData]="mediaLayoutData()"
            >
              <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
                <app-media-card 
                  [mediaId]="mediaId" [width]="width" [height]="height"
                  [isMenuOpen]="isMenuOpen(mediaId)"
                >
                  <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                    <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
                  </div>
                </app-media-card>
              </ng-template>
            </app-collection-row>
          }
          @case (CollectionLayout.COLUMN) {
            <app-collection-column
              class="virtual-host"
              [mediaLayoutData]="mediaLayoutData()"
            >
              <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
                <app-media-card 
                  [mediaId]="mediaId" [width]="width" [height]="height"
                  [isMenuOpen]="isMenuOpen(mediaId)"
                >
                  <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                    <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
                  </div>
                </app-media-card>
              </ng-template>
            </app-collection-column>
          }
          @case (CollectionLayout.LIST) {
            <app-collection-list 
              class="virtual-host virtual-host-list"
              [mediaLayoutData]="mediaLayoutData()" 
            >
              <ng-template #rowRef let-mediaId="mediaId" let-width="width" let-height="height">
                <a [routerLink]="['/media', mediaId]" style="text-decoration: none; color: inherit;">
                  <app-media-row 
                    [mediaId]="mediaId" [width]="width" [height]="height"
                  >
                    <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                      <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
                    </div>
                  </app-media-row>
                </a>
              </ng-template>
            </app-collection-list>
          }
        }

        @if (showPicker()) {
          <div class="picker-overlay" [@slideInUp]>
            <app-media-picker 
              [collection]="collection"
              (onCancel)="showPicker.set(false)"
              (onConfirm)="showPicker.set(false); addSelectedMedia($event)"
            />
          </div>
        }
      </section>
    }
  }

  <ng-template #itemMenu let-mediaId="mediaId">
    <app-dropdown
      [isOpenExternal]="activeMediaMenuId() === mediaId"
      (opened)="activeMediaMenuId.set(mediaId)"
      (closed)="activeMediaMenuId.set(null)"
    >
      <app-media-action 
        [mediaId]="mediaId"
        [canDeleteFromCollection]="collection.collectionType === CollectionType.MANUAL"
        (deleteRequest)="activeMediaMenuId.set(null); removeMediaFromCollection($event)"
      />
    </app-dropdown>
  </ng-template>
}
