@if (collection(); as collection) {

  @switch (view) {
    @case (CollectionDisplayMode.PREVIEW) {
      <app-collection-line
        [collection]="collection"
        [mediaLayoutData]="mediaLayoutData()"
        [mediaCount]="mediaCount()"
        (endReached)="onScroll()"
      >
        <ng-content collectionMenu select="[collectionMenu]"></ng-content>
        <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
          <app-media-card 
            [mediaId]="mediaId" [width]="width" [height]="height"
            [isMenuOpen]="isMenuOpen(mediaId)"
          >
            <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
              <ng-container *ngTemplateOutlet="itemMenu; 
                context: { 
                  mediaId: mediaId, 
                  customClass: 'dots-button menu-background' 
                }">
              </ng-container>
            </div>
          </app-media-card>
        </ng-template>
      </app-collection-line>
    }
    @case (CollectionDisplayMode.DETAILS) {
      <app-action-bar>
        <div class="tool-bar menu-background">
          <app-layout-manager 
            [preferredLayout]="preferredLayout()"
            (preferredLayoutChange)="onLayoutChange($event)"
          />

          @if (collection.canBeSorted) {
            <app-sort-manager 
              [sortOrder]="sortOrder()" 
              (sortOrderChange)="onSortChanged($event)"
            />
          }

          @if (collection.collectionType === CollectionType.DYNAMIC) {
            <app-filter-manager 
              [version]="filterVersion()"
              [filter]="filter()" 
              (filterChange)="onFilterChanged($event)"
            />
          }
          @else if (collection.collectionType === CollectionType.MANUAL) {
            <div class="tool-item" (click)="openPicker($event)">
              <img src="assets/icons/plus.svg" alt="Plus"/>
            </div>
          }

          <div class="tool-item">
            <app-dropdown [customClass]="'special-dots'" [class.is-active]="false" [isOpenExternal]="false">
              <app-collection-action [collectionId]="id()"/>
            </app-dropdown>
          </div>
          
        </div>

      </app-action-bar>

      <section class="page-container virtual">

        <div class="page-header">

          <div style="display: flex; justify-content: center;">
            @if (collection.collectionType === CollectionType.SYSTEM) {
              <h1>
                {{ name() }}
              </h1>
            }
            @else {
              <h1 
                class="editable-title"
                contenteditable="true"
                #nameInput
                (blur)="onNameBlur(nameInput.innerText, nameInput)"
                (keydown.enter)="$event.preventDefault(); validateName(nameInput)"
                (keydown.escape)="nameInput.innerText = name(); validateName(nameInput)"
              >{{ name() }}</h1>
            }
          </div>

          <div class="search-box">
            <input 
              #searchInput
              class="input-search"
              type="text"
              placeholder="Search on the collection..."
              [value]="searchQuery()"
              (input)="searchQuery.set($any($event.target).value)"
              (keydown.enter)="searchInput.blur()"
              (keydown.escape)="searchQuery.set(''); searchInput.blur()"
            />

            <div class="media-count">
              {{ mediaCount() }}
            </div>
          </div>
        </div>

        @if (mediaLayoutData().length > 0) {
          @switch (preferredLayout()) {
            @case (CollectionLayout.GRID) {
              <app-collection-grid
                class="virtual-host"
                [mediaLayoutData]="mediaLayoutData()"
                (endReached)="onScroll()"
              >
                <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
                  <app-media-card 
                    [mediaId]="mediaId" [width]="width" [height]="height"
                    [isMenuOpen]="isMenuOpen(mediaId)"
                  >
                    <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                      <ng-container *ngTemplateOutlet="itemMenu; 
                        context: { 
                          mediaId: mediaId, 
                          customClass: 'dots-button menu-background' 
                        }">
                      </ng-container>
                    </div>
                  </app-media-card>
                </ng-template>
              </app-collection-grid>
            }
            @case (CollectionLayout.ROW) {
              <app-collection-row
                class="virtual-host"
                [mediaLayoutData]="mediaLayoutData()"
                (endReached)="onScroll()"
              >
                <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
                  <app-media-card 
                    [mediaId]="mediaId" [width]="width" [height]="height"
                    [isMenuOpen]="isMenuOpen(mediaId)"
                  >
                    <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                      <ng-container *ngTemplateOutlet="itemMenu; 
                        context: { 
                          mediaId: mediaId, 
                          customClass: 'dots-button menu-background' 
                        }">
                      </ng-container>
                    </div>
                  </app-media-card>
                </ng-template>
              </app-collection-row>
            }
            @case (CollectionLayout.COLUMN) {
              <app-collection-column
                class="virtual-host"
                [mediaLayoutData]="mediaLayoutData()"
                (endReached)="onScroll()"
              >
                <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
                  <app-media-card 
                    [mediaId]="mediaId" [width]="width" [height]="height"
                    [isMenuOpen]="isMenuOpen(mediaId)"
                  >
                    <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                      <ng-container *ngTemplateOutlet="itemMenu; 
                        context: { 
                          mediaId: mediaId, 
                          customClass: 'dots-button menu-background' 
                        }">
                      </ng-container>
                    </div>
                  </app-media-card>
                </ng-template>
              </app-collection-column>
            }
            @case (CollectionLayout.DETAILED) {
              <app-collection-detailed-grid
                class="virtual-host"
                [mediaLayoutData]="mediaLayoutData()"
                (endReached)="onScroll()"
              >
                <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
                  <app-media-card-details 
                    [mediaId]="mediaId" [width]="width"
                    [isMenuOpen]="isMenuOpen(mediaId)"
                  >
                    <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                      <ng-container *ngTemplateOutlet="itemMenu; 
                        context: { 
                          mediaId: mediaId, 
                          customClass: 'dots-button menu-background' 
                        }">
                      </ng-container>
                    </div>
                  </app-media-card-details>
                </ng-template>
              </app-collection-detailed-grid>
            }
            @case (CollectionLayout.LIST) {
              <app-collection-list 
                class="virtual-host virtual-host-list"
                [mediaLayoutData]="mediaLayoutData()" 
                (endReached)="onScroll()"
              >
                <ng-template #rowRef let-mediaId="mediaId" let-width="width" let-height="height">
                  <a [routerLink]="['/media', mediaId]" style="text-decoration: none; color: inherit;">
                    <app-media-row 
                      [mediaId]="mediaId" [width]="width" [height]="height"
                      [isMenuOpen]="isMenuOpen(mediaId)"
                    >
                      <div menu (click)="$event.preventDefault(); $event.stopPropagation()">
                        <ng-container *ngTemplateOutlet="itemMenu; 
                          context: { 
                            mediaId: mediaId, 
                            customClass: 'dots-button dots-button-simple' 
                          }">
                        </ng-container>
                      </div>
                    </app-media-row>
                  </a>
                </ng-template>
              </app-collection-list>
            }
          }
        }

        <div #pickerPopover popover="manual" class="picker-popover-wrapper">
          @if (isPickerVisible()) {
            <app-media-picker 
              [collection]="collection"
              (onCancel)="closePicker()"
              (onConfirm)="addSelectedMedia($event); closePicker()"
            />
          }
        </div>
      </section>
    }
  }

  <ng-template #itemMenu let-mediaId="mediaId" let-customClass="customClass">
    <app-dropdown
      (click)="$event.preventDefault(); $event.stopPropagation()"
      [isOpenExternal]="activeMediaMenuId() === mediaId"
      (opened)="activeMediaMenuId.set(mediaId)"
      (closed)="activeMediaMenuId.set(null)"
      [customClass]="customClass"
    >
      <app-media-action 
        [mediaId]="mediaId"
        [canDeleteFromCollection]="collection.collectionType === CollectionType.MANUAL"
        (deleteFromCollectionRequest)="activeMediaMenuId.set(null); removeMediaFromCollection($event)"
        (deleteFromLibraryRequest)="activeMediaMenuId.set(null);"
        (closeMenu)="activeMediaMenuId.set(null);"
      />
    </app-dropdown>
  </ng-template>
}
