@if (error) {
    <p>Error : {{ error }}</p>
} 
@else if (collection) {
  <section>
    <ng-container [ngSwitch]="view">
      <app-collection-grid
        *ngSwitchCase="'grid'"
        [collection]="collection"
        [loading]="loading"
      />
    
      <app-collection-row
        *ngSwitchCase="'row'"
        [collection]="collection"
        [query]="query"
        [loading]="loading"
      />
  
      <p *ngSwitchDefault>invalid collection view : {{ view }}</p>
    </ng-container>
  </section>
}
