.search-box {
  display: flex;
  justify-content: center;
  padding: 0 10vw;
  margin-bottom: 8px;
}

.layout-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--color-dark-light);
  }

  .layout-icon {
    width: 20px;
    height: 20px;
    pointer-events: none; // L'icône ne doit pas bloquer le clic vers le select
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; // On le rend invisible
    cursor: pointer;
    appearance: none; // Supprime les flèches natives (Safari/Chrome/Firefox)
    -webkit-appearance: none;
    
    /* Pour IE/Edge */
    &::-ms-expand {
      display: none;
    }
  }
}
