<app-generic-picker
  [title]="'Add to « ' + collection.name+' »'"
  (searchChange)="onSearch($event)"
  (onCancel)="onCancel.emit()"
  (onConfirm)="onConfirm.emit($event)"
  #picker
>
  <app-collection-list 
    class="virtual-host virtual-host-list picker-content"
    [mediaLayoutData]="mediaResults()" 
    (endReached)="onScroll()"
  >
    <ng-template #rowRef let-mediaId="mediaId" let-width="width" let-height="height">
      <div (click)="picker.toggleSelection(mediaId)">
        <app-media-row [mediaId]="mediaId" [width]="width" [height]="height"
          [isMenuOpen]="false"
        >
          <span #icon icon class="check-icon"> {{ picker.getSelectionIcon(mediaId) }} </span>
        </app-media-row>
      </div>
    </ng-template>
  </app-collection-list>
</app-generic-picker>
