<div class="picker-container">
  <header class="picker-header">
    <h2>Add to {{ collection.name }}</h2>

    <div class="picker-header-content">
      <button class="cancel-btn" (click)="onCancel.emit()">Cancel</button>
      <div class="search-box">
        <input 
          type="text"
          [ngModel]="searchQuery()" 
          (ngModelChange)="searchQuery.set($event)"
          placeholder="Search on the library..."
        />
      </div>
      <button 
        class="done-btn" 
        (click)="onConfirm.emit(selectedIds())"
      >
        Confirm ({{ selectedIds().size }})
      </button>
    </div>
  </header>

  <div class="picker-content">
    <app-collection-list 
        [mediaLayoutData]="mediaResults()" 
      >
        <ng-template #rowRef let-mediaId="mediaId" let-width="width" let-height="height">
          <div (click)="toggleSelection(mediaId)" class="selectable-row">
            <app-media-row [mediaId]="mediaId" [width]="width" [height]="height">
              <span icon class="check-icon">{{ isSelected(mediaId) ? '✅' : '⚪' }}</span>
            </app-media-row>
          </div>
        </ng-template>
      </app-collection-list>
  </div>
</div>
