<div class="page-container picker-container">

  <header class="picker-header">
    <div class="page-header">
      <h2>{{ title() }}</h2>

      <div class="picker-header-content">
          <input 
            class="input-search"
            type="text"
            [ngModel]="searchQuery()" 
            (ngModelChange)="onSearchChange($event)"
            [placeholder]="searchPlaceholder()"
          />
      </div>
    </div>

    <button class="action-button menu-background left-buton" (click)="onCancel.emit()">
      <img class="chevron" src="assets/icons/plus.svg" style="transform: rotate(45deg);"/>
    </button>

    <button class="action-button menu-background right-buton" (click)="onConfirm.emit(selectedIds())">
      <img class="chevron" src="assets/icons/valid.svg"/>
    </button>
  </header>

  <ng-content></ng-content>
</div>
