.picker-header {
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: var(--color-dark-deep);
}

.picker-header h2 {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.picker-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box-picker {
  flex: 1;
  margin: 0 20px;
}

.done-btn {
  color: var(--primary-color);
  font-weight: bold;
  background: rgba(var(--color-dark-soft), 0.8);
  border: none;
  cursor: pointer;
  &:disabled { opacity: 0.3; }
}
