.picker-header {
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--color-dark-deep);
}

.picker-header h1 {
  margin: 8px 0;
  text-align: center;
}

.picker-header-content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-button {
  position: fixed;
  top: 8px;

  &.left-buton {
    left: 16px;
  }
  &.right-buton {
    right: 16px;
  }
}
