<div class="page-container picker-overlay">

  <header class="picker-header">
    <div class="page-header">
      <h1>{{ title() }}</h1>

      @if (showSearch()) {
        <div class="picker-header-content search-box">
          <input 
            class="input-search"
            type="text"
            [ngModel]="searchQuery()" 
            (ngModelChange)="onSearchChange($event)"
            [placeholder]="searchPlaceholder()"
          />

          <div class="media-count">
            {{ resultCount() }}
          </div>
        </div>
      }
    </div>

    <button class="action-button menu-background left-buton" (click)="onCancel.emit()">
      <img class="chevron" src="assets/icons/plus.svg" style="transform: rotate(45deg);"/>
    </button>

    <button class="action-button menu-background right-buton" (click)="onConfirm.emit(selectedIds())">
      <img class="chevron" src="assets/icons/valid.svg"/>
    </button>
  </header>

  <ng-content></ng-content>
</div>
