<button class="dropdown-button" (click)="toggleFavorite()" style="text-align: center;">
  {{ collection()?.favorite ? '❤️' : '🩶' }}
</button>
@if (collection()?.collectionType === CollectionType.MANUAL) {
  <button class="dropdown-button" (click)="openPicker($event)">
    Add media
  </button>
}
<button class="dropdown-button delete-item" (click)="onDelete()">
  Delete
</button>

<ng-template #pickerTemplate>
  <app-media-picker 
    [collection]="collection()!"
    (onCancel)="closePicker()"
    (onConfirm)="addSelectedMedia($event); closePicker()"
  />
</ng-template>
