@if (collection(); as collection) {
  <button class="dropdown-button" (click)="favoriteAction.toggleFavorite()" style="display: flex; justify-content: center;">
    <app-collection-favorite-action #favoriteAction [collectionId]="collection.id"></app-collection-favorite-action>
  </button>

  <hr class="dropdown-separator">

  @if (collection.collectionType === CollectionType.MANUAL) {
    <button class="dropdown-button" (click)="openPicker($event)">
      Add media
    </button>
  }

  <button class="dropdown-button" (click)="togglePin({type: 'ALL'})">
    @if (isPinnedGlobal()) {
      📌 Unpin from Home
    } @else {
      📍 Pin to Home
    }
  </button>
  @if (hasSpecificContext(); as mediaType) {
    <button class="dropdown-button" (click)="togglePin(collection.mediaType)">
      @if (isPinnedSpecific()) {
        📌 Unpin from {{ mediaType | humanize }} Home
      } @else {
        📍 Pin to {{ mediaType | humanize}} Home
      }
    </button>
  }

  @if (collection.collectionType !== CollectionType.SYSTEM) {
    <hr class="dropdown-separator">

    <button class="dropdown-button delete-item" (click)="onDelete()">
      Delete from Library
    </button>
  }

  <div #pickerPopover popover="manual" class="picker-popover-wrapper">
    @if (isPickerVisible()) {
      <app-media-picker 
        [collection]="collection"
        (onCancel)="closePicker()"
        (onConfirm)="addSelectedMedia($event); closePicker()"
      />
    }
  </div>
}
