<app-action-bar>

  <div class="tool-bar menu-background">
    <app-layout-manager 
      [preferredLayout]="preferredLayout()"
      (preferredLayoutChange)="preferredLayout.set($event)"
    />

    <app-sort-manager 
      [sortOrder]="sortOrder()" 
      (sortOrderChange)="onSortChanged($event)"
    />

    <app-filter-manager 
      [filter]="filter()" 
      (filterChange)="onFilterChanged($event)"
    />
  </div>

</app-action-bar>

<section class="page-container virtual">

  <div class="page-header">
    <h1>{{ name() }}</h1>

    <div class="search-box">
      <input 
        #searchInput
        class="input-search"
        type="text"
        placeholder="Search in the library..."
        [value]="searchQuery()"
        (input)="searchQuery.set($any($event.target).value)"
        (keydown.enter)="searchInput.blur()"
        (keydown.escape)="searchQuery.set(''); searchInput.blur()"
      />

      <div class="media-count">
        {{ mediaCount() }}
      </div>
    </div>

  </div>

  @if (mediaLayoutData().length < 1) {
    <p> No media match these filters. </p>
  }
  @else {
    @switch (preferredLayout()) {
      @case (CollectionLayout.GRID) {
        <app-collection-grid
          class="virtual-host"
          [mediaLayoutData]="mediaLayoutData()"
          (endReached)="onScroll()"
        >
          <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
            <app-media-card 
              [mediaId]="mediaId" [width]="width" [height]="height"
              [isMenuOpen]="isMenuOpen(mediaId)"
            >
              <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
              </div>
            </app-media-card>
          </ng-template>
        </app-collection-grid>
      }
      @case (CollectionLayout.ROW) {
        <app-collection-row
          class="virtual-host"
          [mediaLayoutData]="mediaLayoutData()"
          (endReached)="onScroll()"
        >
          <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
            <app-media-card 
              [mediaId]="mediaId" [width]="width" [height]="height"
              [isMenuOpen]="isMenuOpen(mediaId)"
            >
              <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
              </div>
            </app-media-card>
          </ng-template>
        </app-collection-row>
      }
      @case (CollectionLayout.COLUMN) {
        <app-collection-column
          class="virtual-host"
          [mediaLayoutData]="mediaLayoutData()"
          (endReached)="onScroll()"
        >
          <ng-template #itemRef let-mediaId="mediaId" let-width="width" let-height="height">
            <app-media-card 
              [mediaId]="mediaId" [width]="width" [height]="height"
              [isMenuOpen]="isMenuOpen(mediaId)"
            >
              <div mediaMenu (click)="$event.preventDefault(); $event.stopPropagation()">
                <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
              </div>
            </app-media-card>
          </ng-template>
        </app-collection-column>
      }
      @case (CollectionLayout.LIST) {
        <app-collection-list 
          class="virtual-host virtual-host-list"
          [mediaLayoutData]="mediaLayoutData()" 
          (endReached)="onScroll()"
        >
          <ng-template #rowRef let-mediaId="mediaId" let-width="width" let-height="height">
            <a [routerLink]="['/media', mediaId]" style="text-decoration: none; color: inherit;">
              <app-media-row 
                [mediaId]="mediaId" [width]="width" [height]="height"
                [isMenuOpen]="isMenuOpen(mediaId)"
                [display]="'roles'"
                [roles]="getRolesForMedia(mediaId)"
              >
                <div menu (click)="$event.preventDefault(); $event.stopPropagation()">
                  <ng-container *ngTemplateOutlet="itemMenu; context: { mediaId: mediaId }"></ng-container>
                </div>
              </app-media-row>
            </a>
          </ng-template>
        </app-collection-list>
      }
    }
  }
</section>

<ng-template #itemMenu let-mediaId="mediaId">
  <app-dropdown
    (click)="$event.preventDefault(); $event.stopPropagation()"
    [isOpenExternal]="activeMediaMenuId() === mediaId"
    (opened)="activeMediaMenuId.set(mediaId)"
    (closed)="activeMediaMenuId.set(null)"
  >
    <app-media-action 
      [mediaId]="mediaId"
    />
  </app-dropdown>
</ng-template>
