<app-generic-list 
  [items]="layoutData()"
  [itemHeight]="containerHeight()"
  (visibleItemsChanged)="onVisibleItemsChanged($event)" 
  (windowResize)="updateDimensions()" 
>
  <ng-template #rowRef let-item let-index="index">
    @let entityId = item[0];
    @let entityType = item[1];

    @switch (entityType) {
      @case (EntityType.MEDIA) {
        <a [routerLink]="['/media', entityId]">
          <app-media-row 
            [mediaId]="entityId" 
            [width]="containerWidth()" 
            [height]="containerHeight()"
            [isMenuOpen]="false"
            [display]="'search'"
          >
            <app-dropdown
              menu
              (click)="$event.preventDefault(); $event.stopPropagation()"
              [isOpenExternal]="false"
            >
              <app-media-action 
                [mediaId]="entityId"
                [canDeleteFromCollection]="false"
              />
            </app-dropdown>
          </app-media-row>
        </a>
      }
      @case (EntityType.COLLECTION) {
        <a [routerLink]="['/collection', entityId]">
          <app-collection-row-item
            [collectionId]="entityId" 
            [width]="containerWidth()" 
            [height]="containerHeight()" 
            [isMenuOpen]="false"
            [display]="'search'"
          >
            <app-dropdown
              menu
              (click)="$event.preventDefault(); $event.stopPropagation()"
              [isOpenExternal]="false"
            >
              <app-collection-action 
                [collectionId]="entityId"
              />
            </app-dropdown>
          </app-collection-row-item>
        </a>
      }
      @case (EntityType.PERSON) {
        <a [routerLink]="['/metadata', EntityType.PERSON, entityId]">
          <app-person-row
            [id]="entityId" 
            [width]="containerWidth()" 
            [height]="containerHeight()" 
            [isMenuOpen]="false"
            [display]="'search'"
          >
          </app-person-row>
        </a>
      }
      @case (EntityType.COMPANY) {
        <a [routerLink]="['/metadata', EntityType.COMPANY, entityId]">
          <app-company-row
            [id]="entityId" 
            [width]="containerWidth()" 
            [height]="containerHeight()" 
            [isMenuOpen]="false"
            [display]="'search'"
          >
          </app-company-row>
        </a>
      }
      @case (EntityType.SAGA) {
        <a [routerLink]="['/metadata', EntityType.SAGA, entityId]">
          <app-saga-row
            [id]="entityId" 
            [width]="containerWidth()" 
            [height]="containerHeight()" 
            [isMenuOpen]="false"
            [display]="'search'"
          >
          </app-saga-row>
        </a>
      }
      @case (EntityType.GENRE) {
        <a [routerLink]="['/metadata', EntityType.GENRE, entityId]">
          <app-genre-row
            [id]="entityId" 
            [width]="containerWidth()" 
            [height]="containerHeight()" 
            [isMenuOpen]="false"
            [display]="'search'"
          >
          </app-genre-row>
        </a>
      }
      @case (EntityType.GAME_MECHANIC) {
        <a [routerLink]="['/metadata', EntityType.GAME_MECHANIC, entityId]">
          <app-game-mechanic-row
            [id]="entityId" 
            [width]="containerWidth()" 
            [height]="containerHeight()" 
            [isMenuOpen]="false"
            [display]="'search'"
          >
          </app-game-mechanic-row>
        </a>
      }
      @default {
        <div class="unknown-type">Unsupported entity type : {{ entityType }}</div>
      }
    }
  </ng-template>
</app-generic-list>
