@if (media(); as media) {
  <section class="header">

    <!-- backdrop -->
    @if (!hasBackdrop() && hasPoster()) {
      <!-- if there is no backdrop but a poster, use it as backdrop -->
      <app-media-image
        [source]="getSource(ImageType.POSTER, true)"
        [title]="media.title" 
        [type]="'backdrop'" 
        [hasImage]="true"
      >
      </app-media-image>
    } @else {
      <app-media-image
        [source]="getSource(ImageType.BACKDROP, false)"
        [title]="media.title" 
        [type]="'backdrop'" 
        [hasImage]="hasBackdrop()"
      >
      </app-media-image>
    }

    <!-- image -->
    <div class="image-container">
      <app-media-image
        [source]="getSource(ImageType.POSTER, false)"
        [title]="media.title" 
        [type]="'poster'" 
        [hasImage]="hasPoster()"
        [customStyle]="'width: 100%; overflow: hidden; border-radius: 8px; box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);'"
        (click)="isLightboxOpen.set(true)"
      >
      </app-media-image>
    </div>

    <div class="info">
      <!-- infos -->
      <h1 class="title">{{ media.title }}</h1>
      <p class="type">{{ media.mediaType }}</p>
      <p class="releaseDate">release date : {{ media.releaseDate | date:'mediumDate' }}</p>
      @if (isLibraryMedia(media)) {
        <p class="addedDate">added date : {{ media.addedDate | date:'mediumDate' }}</p>
      }

      <!-- relation -->
      @if (isLibraryMedia(media)) {
        <div class="persons">
          @for (person of media.persons| keyvalue; track person.key) {
            <a [routerLink]="['/metadata', MetadataType.PERSON, person.value.id]">
              <div class="person-tag">
                <strong>{{ person.key }}</strong> 
                <small>({{ person.value.values.join(', ') }})</small>
              </div>
            </a>
          }
        </div>
        <div class="companies">
          @for (company of media.companies | keyvalue; track company.key) {
            <a [routerLink]="['/metadata', MetadataType.COMPANY, company.value.id]">
              <div class="company-tag">
                <strong>{{ company.key }}</strong> 
                <small>({{ company.value.values.join(', ') }})</small>
              </div>
            </a>
          }
        </div>
        <div class="tags-container">
          @for (category of media.tags | keyvalue; track category.key) {
            <div class="tag-group">
              <span class="category-label">{{ category.key }} :</span>
              
              @for (tag of category.value; track tag.id) {
                <a 
                  [routerLink]="['/metadata', category.key, tag.id]" 
                  class="tag-badge-link"
                >
                  {{ tag.name }}
                </a>
              }
            </div>
          }
        </div>
      } @else {
        <div class="persons">
          @for (person of media.persons | keyvalue; track person.key) {
            <div class="person-tag">
              <strong>{{ person.key }}</strong> 
              <small>({{ person.value.join(', ') }})</small>
            </div>
          }
        </div>
        <div class="companies">
          @for (company of media.companies | keyvalue; track company.key) {
            <div class="company-tag">
              <strong>{{ company.key }}</strong> 
              <small>({{ company.value.join(', ') }})</small>
            </div>
          }
        </div>
        <div class="tags">
          @for (tag of media.tags | keyvalue; track tag.key) {
            <div class="tag-badge">
              <strong>{{ tag.key }} :</strong> {{ tag.value?.join(', ') }}
            </div>
          }
        </div>
      }

      <!-- action -->
      @if (isLibraryMedia(media)) {
        <app-score-display 
          [score]="score()" 
          (scoreChange)="onScoreChange($event)"
        />

        <div class="fieldset-container status-box">
          <app-media-status-action [mediaId]="media.id"></app-media-status-action>
        </div>

        <app-media-favorite-action [mediaId]="media.id"></app-media-favorite-action>
      }

      <!-- details -->
      @switch (media.mediaType) {
        @case (MediaType.MOVIE) {
          @let movie = asMovie(media);
          <p>{{movie.duration | duration}}</p>
        }
        @case (MediaType.SERIES) {
          @let series = asSerie(media);
          <p>{{series.seasons}} seasons</p>
          <p>{{series.episodes}} episodes</p>
        }
        @case (MediaType.TABLETOP_GAME) {
          @let tabletopGame = asTabletopGame(media);
          <p>{{tabletopGame.playerCount}} players</p>
          <p>Playing time : {{tabletopGame.playingTime}}</p>
        }
        @default {
          <p>Media type {{ media.mediaType }} not implemented yet !</p>
          <p>No more infos</p>
        }
      }

      <!-- desc + notes -->
      <p class="description">{{ media.description }}</p>

      @if (isLibraryMedia(media)) {
        <div class="notes-container">
          <div class="fieldset-container">
            <label class="fieldset-label">Notes</label>
            <textarea 
              #notesArea
              [value]="notes()"
              (focus)="isEditingNotes.set(true)"
              (blur)="onNotesBlur(notesArea.value); isEditingNotes.set(false)"
              (keydown.escape)="notesArea.value = notes(); notesArea.blur()"
              placeholder="Cliquez ici pour ajouter une note..."
              [class.editing]="isEditingNotes()"
            ></textarea>
          </div>
        </div>
      }

    </div>

    @if (hasPoster() && isLightboxOpen()) {
      <app-poster-lightbox 
        [source]="getSource(ImageType.POSTER, true)"
        [title]="media.title"
        (close)="isLightboxOpen.set(false)"
      />
    }

  </section>
}
