@if (media(); as media) {
  <section class="header">

    <div>
      <img 
        class="image" 
        [src]="media.id | posterPath" 
        [alt]="media.title" 
        (click)="isLightboxOpen.set(true)"
      />
      <p>({{ media.imageWidth }} x {{ media.imageHeight }})</p>
    </div>

    <div class="info">
      <h1 class="title">{{ media.title }}</h1>
      <p class="type">{{ media.mediaType }}</p>
      <p class="releaseDate">release date : {{ media.releaseDate }}</p>
      <p class="addedDate">added date : {{ media.addedDate }}</p>

      <app-score-display 
        [score]="score()" 
        (scoreChange)="onScoreChange($event)"
      />

      <div class="fieldset-container status-box">
        <app-media-status-action [mediaId]="media.id"></app-media-status-action>
      </div>

      <button (click)="onToggleFavorite()" [class.is-favorite]="favorite()">
        @if (favorite()) {
          ❤️
        } @else {
          🩶
        }
      </button>

      <!-- Media details -->
      @switch (media.mediaType) {
        @case (MediaType.MOVIE) {
          <app-movie-details [movie]="asMovie(media)"></app-movie-details>
        }
        @case (MediaType.SERIES) {
          <app-serie-details [serie]="asSerie(media)"></app-serie-details>
        }
        @case (MediaType.TABLETOP_GAME) {
          <app-tabletop-game-details [game]="asTabletopGame(media)"></app-tabletop-game-details>
        }
        @default {
          <p>Media type {{ media.mediaType }} not implemented yet !</p>
          <p>No more infos</p>
        }
      }

      <p class="description">{{ media.description }}</p>

      <div class="notes-container">
        <div class="fieldset-container">
          <label class="fieldset-label">Notes</label>
          <textarea 
            #notesArea
            [value]="notes()"
            (focus)="isEditingNotes.set(true)"
            (blur)="onNotesBlur(notesArea.value); isEditingNotes.set(false)"
            (keydown.escape)="notesArea.value = notes(); notesArea.blur()"
            placeholder="Cliquez ici pour ajouter une note..."
            [class.editing]="isEditingNotes()"
          ></textarea>
        </div>
      </div>

    </div>

    @if (isLightboxOpen()) {
      <app-poster-lightbox 
        [mediaId]="media.id"
        [title]="media.title"
        [width]="media.imageWidth"
        [height]="media.imageHeight"
        (close)="isLightboxOpen.set(false)"
      />
    }

  </section>
}
