<div class="card"
  [class.is-menu-open]="isMenuOpen()"
  [style.width.px]="width()"
>

  @if (media(); as media) {
    <div class="media-card" @fadeIn>

      <a class="media-link" [routerLink]="['/media', media.id]"></a>

      <div [style.width.px]="width()" [style.height.px]="height()" style="contain: strict;">
        <app-media-image 
          [source]="resolvedSrc()"
          [title]="media.title" 
          [type]="'backdrop'" 
          [hasImage]="media.hasBackdrop || media.hasPoster"
          [customStyle]="'width: 100%; height: 100%; object-fit: cover;'"
          (onLoad)="onImageReady()"
        >
        </app-media-image>
      </div>

      <div class="menu-slot interaction-zone">
        <ng-content select="[mediaMenu]"></ng-content>
      </div>

      <div class="info">
        <h4 class="title" [attr.title]="media.title">
          {{ media.title }}
        </h4>

        @if (!showScore || !showMediaOwnership) {
          <div class="action">
            <div class="fav-slot interaction-zone">
              <app-media-favorite-action [mediaId]="media.id"></app-media-favorite-action>
            </div>

            @if (showScore) {
              <div class="score-slot interaction-zone">
                <app-media-score-action [mediaId]="media.id"></app-media-score-action>
              </div>
            }

            <div class="status-container interaction-zone">
              <app-media-status-action [mediaId]="media.id"></app-media-status-action>
            </div>

            @if (showMediaOwnership) {
              <div class="status-container interaction-zone">
                <app-media-possession-status-action [mediaId]="media.id"></app-media-possession-status-action>
              </div>
            }
          </div>
        }
        @else {
          <div class="action action-top">
            <div class="fav-slot interaction-zone">
              <app-media-favorite-action [mediaId]="media.id"></app-media-favorite-action>
            </div>

            <div class="score-slot interaction-zone">
              <app-media-score-action [mediaId]="media.id"></app-media-score-action>
            </div>
          </div>

          <div class="action">
            <div class="status-container interaction-zone">
              <app-media-status-action [mediaId]="media.id"></app-media-status-action>
            </div>

            <div class="status-container interaction-zone">
              <app-media-possession-status-action [mediaId]="media.id"></app-media-possession-status-action>
            </div>
          </div>
        }
      </div>

    </div>
  }

  <div class="skeleton-container" [class.is-hidden]="media() && ((hasLoaded() && resolvedSrc()) || !media()?.hasPoster)">
    <div class="skeleton-card" 
      [style.width.px]="width()" 
      [style.height.px]="height()">
    </div>
  </div>

</div>
