.viewport-container {
  height: 100vh;
  overflow-y: auto;
  display: block;
  position: relative;
  padding-top: 6px;
}

.card img {
  width: 100%;
  aspect-ratio: 2 / 3;
  background-color: #333;
  border-radius: 12px;
  object-fit: cover;
}

.card {
  will-change: transform;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.04);
  z-index: 10;
}
