@if (loading) {
  <p>Loading ...</p>
}
@else if (collection) {
  <section>

    <h1> {{collection.name}} </h1>

    <div #scrollElement class="viewport-container">
      <div
        [style.height.px]="virtualizer.getTotalSize()"
        style="width: 100%; position: relative;"
      >
        @for (vItem of virtualizer.getVirtualItems(); track vItem.key) {
          <div
            [style.width.%]="100 / columns()" 
            [style.transform]="'translateY(' + vItem.start + 'px) translateX(' + (vItem.lane * 100) + '%)'"
            style="position: absolute; top: 0; left: 0; padding: 0px 4px; box-sizing: border-box;"
          >
            <div class="card"
              [style.--scale-width]="1 + (8 / columnWidth())"
              [style.--scale-height]="1 + (8 / (columnWidth() * 1.5))"
            >
              <a [routerLink]="['/media', mediaList()[vItem.index].id]">
                <img 
                  [src]="mediaList()[vItem.index].id | posterPath"
                  [alt]="mediaList()[vItem.index].title"
                  (load)="virtualizer.measure()" 
                />
              </a>  
            </div>
          </div>
        }
      </div>
    </div>

  </section>
}
