@if (mode(); as mode) {
  <app-action-bar [leftButtonType]="'home'">

      <div class="tool-bar menu-background">
        <button 
          class="tool-item" 
          [class.is-active]="mode === 'library'"
          (click)="onModeChange('library')"
        >
          Library
        </button>
        <button 
          class="tool-item" 
          [class.is-active]="mode === 'api'"
          (click)="onModeChange('api')"
        >
          Internet
        </button>
      </div>
    
  </app-action-bar>

  <section class="page-container virtual">
    
    <div class="page-header">
      @let ctx = context();
      <h1>Search {{ctx.type === 'SPECIFIC' ? (ctx.value | humanize) : 'Anything'}}</h1>

      <div class="search-box">
        <input 
          #searchInput
          class="input-search"
          type="text"
          [placeholder]="'Search '+(mode === 'library' ? 'in' : 'on')+' the '+(mode === 'library' ? 'library' : 'internet')+'...'"
          [value]="searchQuery()"
          (input)="searchQuery.set($any($event.target).value)"
          (keydown.enter)="searchInput.blur()"
          (keydown.escape)="searchQuery.set(''); searchInput.blur()"
        />
      </div>
    </div>

    @if (mode === 'library') {
      <app-search-list 
        class="virtual-host virtual-host-list"
        [layoutData]="layoutData()" 
        (endReached)="onScrollLibrary()"
      >
      </app-search-list>
    } @else {
      <app-api-search-list
        class="virtual-host virtual-host-list"
        [layoutData]="apiResults()" 
        (endReached)="onScrollApi()"
      >
      </app-api-search-list>
    }

  </section>
}
