<app-action-bar></app-action-bar>

<section class="settings-group page-container">
  <h1>Search</h1>

  <div class="search-box">
    <input 
      #searchInput
      class="input-search"
      type="text"
      placeholder="Search in the library..."
      [value]="searchQuery()"
      (input)="searchQuery.set($any($event.target).value)"
      (keydown.enter)="searchInput.blur()"
      (keydown.escape)="searchQuery.set(''); searchInput.blur()"
    />
  </div>

  <app-search-list 
    class="virtual-host virtual-host-list"
    [layoutData]="layoutData()" 
  >
  </app-search-list>
</section>
