<app-action-bar>
  @if (isLoading()) {
    <div class="action-button action-button-right menu-background">
      <img style="width: 24px; height: 24px;" src="assets/icons/loading.svg"/>
    </div>
  }
  @if (libraryMedia(); as media) {
    <app-dropdown 
      #dropdown 
      [customClass]="'action-button action-button-right menu-background'" 
      [class.hidden]="isLoading()"
      [isOpenExternal]="isMenuOpen()"
    >
      <app-media-action [mediaId]="media.id"></app-media-action>
    </app-dropdown>
  } @else {
    @if (apiMedia(); as media) {
      <app-api-search-add-action 
        [customClass]="'action-button action-button-right menu-background'" 
        [data]="media"
        (onAdded)="id.set($event); fromApiToLibrary();"
      >
      </app-api-search-add-action>
    }
  }
</app-action-bar>

@if (error) {
  <div>{{ error }}</div>
}

<app-media-details [media]="libraryMedia() ? libraryMedia()! : apiMedia()!"></app-media-details>
