<button 
  [minWidth]="180"
  [appDropdownTrigger]="dotsMenu"
  class="action-button action-button-right menu-background" 
  [isOpenExternal]="true"
>
  <img class="filter" src="assets/icons/filter.svg"/>
</button>

<ng-template #dotsMenu>
  <div class="dropdown-menu">

    <button class="dropdown-button">
      <label>Type : </label>
      <select 
        #mediaTypeSelect
        [value]="filter().mediaType || ''" 
        [attr.data-v]="version()"
        (change)="updateFilter('mediaType', $any($event.target).value)"
      >
        <option value="">All</option>
        @for (type of mediaTypeOptions; track type) {
          <option [value]="type" [selected]="type === filter().mediaType">
            {{ type | humanize }}
          </option>
        }
      </select>
    </button>

    <button class="dropdown-button">
      <label>Status : </label>
      <select [value]="filter().status || ''" (change)="updateFilter('status', $any($event.target).value)">
        <option value="">All</option>
        @for (status of statusOptions; track status) {
          <option [value]="status" [selected]="status === filter().status">
            {{ status | humanize }}
          </option>
        }
      </select>
    </button>

    <button
      class="dropdown-button"
      (click)="toggleFavorite($event)"
    >
      <input 
        type="checkbox" 
        [checked]="filter().favoriteOnly" 
        (change)="updateFilter('favoriteOnly', $any($event.target).checked)"
      />
      <label>Favorite only</label>
    </button>

    <hr> <!-- TODO: media specific filter -->

    <button (click)="resetFilter()" class="dropdown-button">Reset filter</button>

  </div>
</ng-template>
