<app-entity-row-layout [height]="height()" [isMenuOpen]="isMenuOpen()">

  @let media = entity();

  <div card [style.height.px]="height()">
    @if (media) {
      <div 
        [style.width.px]="width()" 
        [style.height.px]="height()"
        class="image"
      >
        <app-media-image 
          [source]="media.posterPath | externalImagePath: media.mediaType : media.source : ImageType.POSTER : ImageSize.SMALL"
          [title]="media.title" 
          [type]="'poster'" 
          [hasImage]="hasPoster()"
          [customStyle]="'width: 100%; height: 100%; object-fit: cover;'"
        >
        </app-media-image>
      </div>
    } @else {
      <div class="skeleton-card" 
        [style.width.px]="width()" 
        [style.height.px]="height()">
      </div>
    }
  </div>

  <div text>
    @if (media) {
      <p class="title">{{ media.title }}</p>
      <p class="sub-info">
        @if (media.creators.length > 0) {
          By @for (creator of media.creators.slice(0, 2); track creator; let lastTag = $last) {{{ creator }}@if (!lastTag) {<span>, </span>}}@if (media.creators.length > 2) {<span>, ...</span>}
        }
        @if (media.releaseDate) {
          ({{ media.releaseDate | date:'y' }})
        }
      </p>
    } @else {
      <div class="skeleton-text title"></div>
      <div class="skeleton-text info"></div>
      <div class="skeleton-text sub-info"></div>
    }
  </div>

  <div menu>
    @if (media) {
      <ng-content select="[menu]"></ng-content>
    }
  </div>

</app-entity-row-layout>
