<div class="card"
  [class.is-menu-open]="isMenuOpen()"
  [style.--scale-width]="1 + (8 / width)"
  [style.--scale-height]="1 + (8 / height)"
  [style.width.px]="width" 
  [style.height.px]="height"
>
  @if (media(); as media) {
    <a 
      class="item-content"
      [routerLink]="['/media', media.id]"
    >
      <img 
        [src]="media.id | posterPath"
        [alt]="media.title"
        [style.width.px]="width"
        [style.height.px]="height"
      >
    </a>

    <div class="fav-slot">
      <app-media-favorite-action [mediaId]="media.id"></app-media-favorite-action>
    </div>

    <div class="status-container menu-background">
      <app-media-status-action [mediaId]="media.id"></app-media-status-action>
    </div>

    <div class="menu-slot">
      <ng-content select="[mediaMenu]"></ng-content>
    </div>
  } 
  @else {
    <div class="skeleton-card" 
      [style.width.px]="width" 
      [style.height.px]="height">
    </div>
  }
</div>
