.card {
  position: relative;
  margin: 0px 4px;
  will-change: transform;
  transition: transform var(--scale-card-out) ease;
  overflow: hidden;
  border-radius: 8px;

  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.card img {
  width: 100%; 
  height: 100%; 
  background-color: #333;
  object-fit: cover; 
}

.card:hover,
.card.is-menu-open {
  transition: transform var(--scale-card-in) ease-out;
  transform: scale(var(--scale-width), var(--scale-height));
  z-index: 10;
}

.card:hover .menu-slot, 
.card.is-menu-open .menu-slot,
.card:hover .fav-slot, 
.card.is-menu-open .fav-slot,
.card:hover .status-container, 
.card.is-menu-open .status-container {
  opacity: 1;
  pointer-events: auto;
}

.menu-slot, 
.fav-slot, 
.status-container {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.menu-slot {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 20;
}

.fav-slot {
  backdrop-filter: blur(8px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  top: 4px;
  left: 4px;
  z-index: 20;
  text-align: center;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 0.7rem;
}

.card:hover .status-container,
.card.is-menu-open .status-container {
  transform: translateY(0);
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top-right-radius: 8px;
  border-bottom: none !important;
  border-left: none !important;
  padding: 4px;

  transform: translateY(12px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
