<div class="card"
  [class.is-menu-open]="isMenuOpen()"
  [style.--scale-width]="1 + (6 / width)"
  [style.--scale-height]="1 + (6 / height)"
  [style.width.px]="width" 
  [style.height.px]="height"
>
  @if (media(); as media) {
    <a 
      class="item-content"
      [routerLink]="['/media', media.id]"
    >
      <div [style.width.px]="width" [style.height.px]="height">
        <app-media-image 
          [source]="(media.id | localImagePath: media.mediaType : media.source : ImageType.POSTER : ImageSize.MEDIUM) | async"
          [title]="media.title" 
          [type]="'poster'" 
          [hasImage]="media.hasPoster"
          [customStyle]="'width: 100%; height: 100%; object-fit: cover;'"
        >
        </app-media-image>
      </div>
    </a>

    <div class="fav-slot">
      <app-media-favorite-action [mediaId]="media.id"></app-media-favorite-action>
    </div>

    <div class="status-container menu-background">
      <app-media-status-action [mediaId]="media.id"></app-media-status-action>
    </div>

    <div class="menu-slot">
      <ng-content select="[mediaMenu]"></ng-content>
    </div>
  } 
  @else {
    <div class="skeleton-card" 
      [style.width.px]="width" 
      [style.height.px]="height">
    </div>
  }
</div>
