<div class="card"
  [class.is-menu-open]="isMenuOpen()"
  [style.--scale-width]="1 + (6 / width)"
  [style.--scale-height]="1 + (6 / height)"
  [style.width.px]="width" 
  [style.height.px]="height"

  @fadeIn
>

  @if (media(); as media) {
  <div 
    class="media-card" 
    [class.is-visible]="((hasLoaded() && resolvedSrc()) || !media?.hasPoster)"
    [style.width.px]="width" [style.height.px]="height"
  >
    
      <a 
        class="item-content"
        [routerLink]="['/media', media.id]"
      >
        <div [style.width.px]="width" [style.height.px]="height">
          <app-media-image 
            [source]="resolvedSrc()"
            [title]="media.title" 
            [type]="'poster'" 
            [hasImage]="media.hasPoster"
            [customStyle]="'width: 100%; height: 100%; object-fit: cover;'"
            (onLoad)="onImageReady($event)"
          >
          </app-media-image>
        </div>
      </a>

      <div class="fav-slot">
        <app-media-favorite-action [mediaId]="media.id"></app-media-favorite-action>
      </div>

      <div class="status-container menu-background">
        <app-media-status-action [mediaId]="media.id"></app-media-status-action>
      </div>

      <div class="menu-slot">
        <ng-content select="[mediaMenu]"></ng-content>
      </div>
    
  </div>
  }

  <div class="skeleton-container" [class.is-hidden]="media() && ((hasLoaded() && resolvedSrc()) || !media()?.hasPoster)">
    <div class="skeleton-card" 
      [style.width.px]="width" 
      [style.height.px]="height">
    </div>
  </div>

</div>
