.card {
  position: relative;
  margin: 0px 4px;
  will-change: transform;
  transition: transform var(--scale-card-out) ease;
  overflow: hidden;
  border-radius: 8px;

  backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased;
}

.media-card {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-out;

  &.is-visible {
    opacity: 1;
  }
}

.media-card img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.card:hover,
.card.is-menu-open {
  transition: transform var(--scale-card-in) ease-out;
  transform: scale(var(--scale-width), var(--scale-height));
  z-index: 10;
}

.card:hover .menu-slot, 
.card.is-menu-open .menu-slot {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.menu-slot {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  will-change: opacity;
  transform: translateZ(0);
}

.menu-slot {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 20;
}

.skeleton-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;

  transition: opacity 0.45s ease-out;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
