.row-content {
  display: flex;
  width: 100vw;
  padding: 0 4px;
}

.card img {
  border-radius: 6px;
  object-fit: cover;
}

.infos {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  margin-left: 16px;
}
.text-group {
  flex: auto;
  min-width: 0;
  width: 100%;
  align-content: center;
}
.title {
  margin: 0px;
  margin-bottom: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type {
  margin: 0px;
  color: var(--color-light-soft);
}
.date {
  margin: 0px;
  color: var(--color-light-dark);
  font-size: 0.9rem;
}
.icon-slot {
  flex: none;
  width: 32px;
  align-content: center;
  margin-right: 16px;
}

.menu-slot {
  position: absolute;
  top: 4px;
  right: 6px;
  z-index: 10;
}

.separator {
  position: absolute;
  color: var(--color-dark-soft);
  bottom: -0.5px;
  left: 0;
  right: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

:host {
  --dots-bg: none;
  --dots-hover: rgba(255, 255, 255, 0.2);
  --dots-blur: none;
}

.skeleton-text {
  border-radius: 4px;

  &.title {
    height: 1.5rem;
    width: 60%;
    margin-bottom: 8px;
  }

  &.type {
    height: 1rem;
    width: 40%;
    margin-bottom: 4px;
  }

  &.date {
    height: 0.9rem;
    width: 25%;
  }
}
