<app-entity-row-layout [height]="height()" [isMenuOpen]="isMenuOpen()">

  @let media = entity();

  <div card [style.height.px]="height()">
    @if (media) {
      <img 
        [src]="media.id | posterPath" 
        [alt]="media.title" 
        [style.width.px]="width()" 
        [style.height.px]="height()"
      >
    } @else {
      <div class="skeleton-card" 
        [style.width.px]="width()" 
        [style.height.px]="height()">
      </div>
    }
  </div>

  <div text>
    @if (media) {
      <p class="title">{{ media.title }}</p>
      @if (display() === 'default') {
        <div class="info" style="display: flex; align-items: center;">
          <p class="info">{{ media.mediaType | emojize }} -&nbsp;</p>
          <app-media-status-action [mediaId]="media.id"></app-media-status-action>
        </div>
        <p class="sub-info" [class.hide-mobile-default]="display() === 'default'">
          {{ media.releaseDate | date:'mediumDate' }}
        </p>
      }
      @else if (display() === 'search') {
        <p class="sub-info">{{ media.mediaType | emojize }} - {{ media.mediaType | humanize }}</p>
      } @else if (display() === 'roles') {
        <p class="sub-info">{{ media.mediaType | emojize }} - {{ formattedRoles() }}</p>
      }
    } @else {
      <div class="skeleton-text title"></div>
      <div class="skeleton-text info"></div>
      <div class="skeleton-text sub-info"></div>
    }
  </div>

  <div icons>
    @if (media) {
      <ng-content select="[icon]"></ng-content>
      @if (!customIcon()) {
        <app-media-favorite-action 
          class="favorite-button"
          [class.is-favorite]="media.favorite"
          [mediaId]="media.id"
          (click)="$event.preventDefault(); $event.stopPropagation()"
        ></app-media-favorite-action>
      }
    }
  </div>

  <div menu>
    @if (media) {
      <ng-content select="[menu]"></ng-content>
    }
  </div>

</app-entity-row-layout>
