img {
  border-radius: 6px;
  object-fit: cover;
}
.image {
  border-radius: 6px;
  object-fit: cover;
  contain: strict;
}
.title {
  margin: 0px;
  margin-bottom: 1px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--text-base);
  height: 1.3rem;
}
.info {
  margin: 1px 0;

  color: var(--color-light-soft);
  font-size: var(--text-xs);
  line-height: 1rem;

  --status-size: 16px;
}
.sub-info {
  margin: 1px 0;
  color: var(--color-light-dark);
  font-size: var(--text-xs);
  line-height: 1rem;
}
.sub-info.hide-mobile-default {
  @media (max-width: 1025px) {
    display: none;
  }
}

// for media & collection favorite button
.favorite-button {
  opacity: 0;
  transition: opacity 0.15s ease, transform 0.15s ease;
  transform: scale(0.4);
  pointer-events: none;
  --fav-size: 16px;

  &.is-favorite {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
}
:host(:hover) .favorite-button,
:host([isMenuOpen="true"]) .favorite-button {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.skeleton-text {
  &.title {
    height: var(--text-lg);
    width: 60%;
    margin-bottom: 8px;
  }
  &.info {
    height: var(--text-base);
    width: 40%;
    margin-bottom: 4px;
  }
  &.sub-info {
    height: var(--text-xs);
    width: 25%;
  }
}
