img {
  border-radius: 6px;
  object-fit: cover;
}
.image {
  border-radius: 6px;
  object-fit: cover;
  contain: strict;
}
.title {
  margin: 0px;
  margin-bottom: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  height: 1.3rem;
}
.info {
  margin: 0px;
  margin-bottom: 1px;

  color: var(--color-light-soft);
  font-size: 0.7rem;
  line-height: 1rem;
}
.sub-info {
  margin: 0px;
  color: var(--color-light-dark);
  font-size: 0.6rem;
  line-height: 1rem;
}
.sub-info.hide-mobile-default {
  @media (max-width: 600px) {
    display: none;
  }
}

// for media & collection favorite button
.favorite-button {
  opacity: 0;
  transition: opacity 0.15s ease, transform 0.15s ease;
  transform: scale(0.4);
  pointer-events: none;

  &.is-favorite {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
}
:host(:hover) .favorite-button,
:host([isMenuOpen="true"]) .favorite-button {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}
