@import "@angular/cdk/overlay-prebuilt.css";

/* phone */
:root {
  --card-width-grid: 120px;
  --card-width-line: 110px;

  /* animation */
  --scale-card-in: 0.225s;
  --scale-card-out: 0.6s;
}

/* tablet */
@media (min-width: 600px) {
  :root {
    --card-width-grid: 150px;
    --card-width-line: 140px;
  }
}

/* desktop */
@media (min-width: 1025px) {
  :root {
    --card-width-grid: 160px;
    --card-width-line: 160px;
  }
}
