@import "@angular/cdk/overlay-prebuilt.css";

/* Phone */
:root {
  --card-width-grid: 120px;
  --card-width-line: 110px;
}

/* Tablet */
@media (min-width: 600px) {
  :root {
    --card-width-grid: 150px;
    --card-width-line: 140px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  :root {
    --card-width-grid: 160px;
    --card-width-line: 160px;
  }
}
