@import "@angular/cdk/overlay-prebuilt.css";

::ng-deep .route-container > * {
  will-change: transform, opacity;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: translate3d(0, 0, 0);
}

/* scrollbar */
/* --- Standards Firefox --- */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}
/* --- Chrome, Edge, Safari (Webkit) --- */
// size
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
// background
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}
// color
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-radius);
  border: 2px solid var(--scrollbar-bg);
}
// hover
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

.no-scroll {
  overflow: hidden !important;
}

/* phone */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: var(--text-base);
  line-height: 24px;
  font-weight: 400;

  color: var(--color-light);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* scrollbar */
  --scrollbar-width: 8px;
  --scrollbar-bg: transparent; // background
  --scrollbar-thumb: rgba(255, 255, 255, 0.25); // color
  --scrollbar-hover: rgba(255, 255, 255, 0.4); // hover color
  --scrollbar-opacity: 0.2;
  --scrollbar-radius: 8px;

  /* variables */
  /* action button step */
  --action-step: 4px;
  /* card size */
  --card-width-poster: 96px;
  --card-width-grid: 80px;
  --card-width-line: 80px;
  --card-width-list: 32px;
  --card-width-detailed: 224px;
  /* margin & gap */
  --side-margin: 16px;
  --list-padding: 4px;
  --nav-height: 58px;
  /* animation */
  --scale-card-in: 0.225s;
  --scale-card-out: 0.6s;

  /* colors */
  /* primary */
  --color-primary-bright: #D2B0FF;
  --color-primary-light: #B09AFF;
  --color-primary: #9683EC; /* DEFAULT */
  --color-primary-dark: #5F61BB;
  --color-primary-deep: #343E92;
  /* light */
  --color-light-bright: #ffffff;
  --color-light: #f6f6f6; /* DEFAULT */
  --color-light-soft: #D0D0D0;
  --color-light-dark: #808080;
  /* dark */
  --color-dark-lighter: oklch(0.36 0 0);
  --color-dark-light: oklch(0.3 0 0);
  --color-dark-soft-2: oklch(0.27 0 0);
  --color-dark-soft: oklch(0.24 0 0);
  --color-dark-2: oklch(0.21 0 0); /* DEFAULT */
  --color-dark: oklch(0.18 0 0); /* DEFAULT */
  --color-dark-deep: oklch(0.15 0 0);
  /* transparent */
  --color-transparent-light-soft-2: rgba(255,255,255,0.25);
  --color-transparent-light-softer-2: rgba(255,255,255,0.175);
  --color-transparent-light-soft: rgba(255,255,255,0.15);
  --color-transparent-light-softer: rgba(255,255,255,0.075);
  --color-transparent-dark-light: oklch(0.35 0 0 / 0.66);
  --color-transparent-dark-soft: oklch(0.25 0 0 / 0.66);
  --color-transparent-dark: oklch(0.15 0 0 / 0.66);
  /* status */
  --color-status-finished: oklch(42% 0.1 145);
  --color-status-in-progress: oklch(42% 0.1 260);
  --color-status-to-discover: oklch(42% 0 0);
  --color-status-dropped: oklch(42% 0.1 20);

  /* text */
  /* font size */
  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-base: 1rem;    /* 16px - ref */
  --text-lg: 1.25rem;   /* 20px */
  --text-xl: 1.5rem;    /* 24px */
  --text-2xl: 1.75rem;  /* 32px */
  --text-3xl: 2.2rem;   /* 48px */
  /* font weight */
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
  /* interline */
  --leading-tight: 1.2;
  --leading-normal: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}

/* tablet */
@media (min-width: 600px) {
  :root {
    --card-width-poster: 192px;
    --card-width-grid: 96px;
    --card-width-line: 96px;
    --card-width-list: 32px;
    /* action button step */
    --action-step: 8px;
    /* margin & gap */
    --side-margin: 32px;

    /* text */
    --text-2xl: 1.875rem;
    --text-3xl: 2.8rem;
  }
}

/* desktop */
@media (min-width: 1025px) {
  :root {
    --card-width-poster: 288px;
    --card-width-grid: 96px;
    --card-width-line: 96px;
    --card-width-list: 40px;
    /* action button step */
    --action-step: 8px;
    --side-margin: 48px;
    /* margin & gap */
    --list-padding: 6px;

    /* text */
    --text-2xl: 2rem;
    --text-3xl: 3.5rem;

    --scrollbar-radius: 12px;
  }

  * {
    scrollbar-width: auto;
  }
}


.hidden {
  display: none;
}
button, select {
  font-size: var(--text-sm);
}
body {
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--color-light);
  text-decoration: inherit;
}

h1 {
  text-align: center;
}

.title-chevron {
  margin: 0;
  display: flex;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }
} 

.api-logo {
  height: 32px;
  object-fit: contain;
}

/* transparent menu */
.menu-background {
  background: var(--color-transparent-dark);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-space {
  height: var(--nav-height);
}

/* icons */
// ...

/* action button (top of the screen) */
.action-button-left {
  margin-right: var(--action-step);
}
.action-button-right {
  margin-left: var(--action-step);
}
.action-button {
  color: var(--color-light);
  border-radius: 100%;
  padding: 18px;
  cursor: pointer;
  z-index: 100;

  contain: strict;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
  }
}
.action-button:hover {
  background: var(--color-transparent-dark-soft);
}
.layout-selector {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .layout-icon {
    width: 24px;
    height: 24px;
    pointer-events: none;
  }

  select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    
    /* for IE/Edge */
    &::-ms-expand {
      display: none;
    }
  }
}
/* tool item */
.tool-bar {
  padding: 4px;
  border-radius: 32px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.tool-item {
  font-size: var(--text-base);
  background-color: rgba(0,0,0,0);
  border: none;
  color: var(--color-light);

  padding: 2px 8px;
  border-radius: 32px;
  cursor: pointer;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s ease;
  will-change: background-color;

  img {
    width: 24px;
    height: 24px;
  }

  &.is-active {
    background-color: var(--color-transparent-light-softer);
  }
  &:hover {
    background-color: var(--color-transparent-light-soft);
  }

}
button.tool-item {
  height: 32px;
}
.special-dots {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  img {
    width: 24px;
    height: 24px;
  }
}

/* dropdown menu */
.dots-button {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  &:hover {
    background: var(--color-transparent-dark-light);
  }
  cursor: pointer;

  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.dots-button-simple {
  border: none;
  background: none;
}
.dots-button img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.dropdown-menu {
  padding: 4px;
  background: var(--color-dark-soft);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
  // min-width: 180px;
  overflow: hidden;

  display: inline-flex;
  flex-direction: column;
  width: max-content;
}
.menu-backdrop {
  background: transparent;
  cursor: default;
  pointer-events: auto;
}
.dropdown-button {
  border-radius: 8px;
  width: 100%;
  padding: 8px 16px;
  background: none;
  border: none;
  color: var(--color-light);
  text-align: left;
  cursor: pointer;
  &:hover { 
    background: var(--color-dark-lighter);
  }

  white-space: nowrap; // Empêche le texte de se casser, forçant le menu à s'élargir
  display: flex;
  align-items: center;

  --fav-size: 16px;
  --status-size: 16px;
  --score-size: 16px;

  &.sort-item {
    padding: 6px;
  }
}
.dropdown-separator {
  border: none;
  height: 1px;
  background-color: var(--color-dark-light);

  margin: 4px 8px;
}
.delete-item {
  cursor: pointer;
  background: none;
  border: none;
  color: #ff4444 !important;
  &:hover { 
    background: #412525 !important;
  }
}
.collection-action {
  height: 100%;
  display: flex;
  margin-right: var(--side-margin);
  gap: 0 8px;
}
.line-action {
  border: none;
  background: none;

  width: 32px;
  height: 32px;
  font-size: var(--text-xl);
  border-radius: 100%;
  &:hover {
    background: var(--color-dark-lighter);
  }
  cursor: pointer;

  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}

.search-box {
  position: relative;
  display: flex;
  margin: 0;
  margin-bottom: 8px;

  .input-search {
    width: 100%;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    background: var(--color-dark-light);
    color: var(--color-light);
    font-size: var(--text-base);
  }

  .media-count {
    position: absolute;
    right: 16px;
    padding-left: 4px;
    align-self: center;
    background: var(--color-dark-light);
    font-size: var(--text-sm);
    color: var(--color-light-dark);
    pointer-events: none;
  }
}
select {
  background: var(--color-dark);
  color: var(--color-light);
  border: 1px solid var(--color-dark-light);
}

/* skeleton display */
.skeleton-card, .skeleton-text {
  flex: none;
  background-color: var(--color-dark-light);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.skeleton-card {
  border-radius: 8px;
}
.skeleton-text {
  border-radius: 4px;
}
@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.25; }
}

/* page with virtualization layout */
.page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark);
  min-height: 100vh;

  &.virtual {
    height: 100vh;
    overflow: hidden;
  }
}
.page-header {
  margin: 0 var(--side-margin);
  flex-shrink: 0;
  margin-top: 56px;

  h1 {
    margin: 16px 0;
    text-align: start;
  }

  /* tablet */
  @media (min-width: 600px) {
    margin-top: 0;

    h1 {
      text-align: center;
    }
  }
}
.page-content {
  margin: 0 var(--side-margin);
}
.virtual-host {
  flex-grow: 1;
  min-height: 0;
  position: relative;
}
.virtual-host-collections {
  flex-grow: 1;
  min-height: 0;
  position: relative;
  padding: 4px 0;
}
.viewport-container {
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  position: relative;
  contain: strict;
  scroll-behavior: smooth;

  padding: 4px var(--side-margin);

  &.viewport-container-line {
    padding: 4px 0;
  }

  &.viewport-container-list {
    padding: 0 var(--side-margin);
  }

  &.viewport-container-collections {
    padding: 0;
  }
}

/* picker */
.picker-popover-wrapper {
  background: transparent;
  border: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  max-width: none;
  max-height: none;

  animation: slideUp 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  &.closing {
    animation: slideDown 0.3s cubic-bezier(0.25, 1, 0.5, 1) forwards !important;
  }
}
.picker-overlay {
  overscroll-behavior: contain;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  background: var(--color-dark);
  color: var(--color-light);
}
@keyframes slideUp {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
@keyframes slideDown {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(100%); opacity: 0; }
}
