.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width-grid), 1fr));
  gap: 3px 6px;
  
}

.card {
  width: var(--card-width-grid);
  text-align: center;
}

.image {
  width: 100%;
  border-radius: 15px;
}