<app-action-bar [leftButtonType]="'settings'">
  <app-dropdown [customClass]="'action-button action-button-right menu-background'" [isOpenExternal]="true">
    <app-collections-action/>
  </app-dropdown>
</app-action-bar>

<section>
  @if (context(); as context) {
    <h1>
      @if (context.type === 'SPECIFIC') {
        {{ context.value | humanize }}
      }
      Library
    </h1>

    <div class="links">
      @let cxt = context.type === 'ALL' ? '' : context.value;

      <a [routerLink]="['/collections', cxt]">
        <h2 class="title-chevron">
          Collections
          <img src="assets/icons/chevron.svg"/>
        </h2>
      </a>

      @for (link of visibleLinks(); track link.type) {
        <a [routerLink]="['/metadata-list', link.type, cxt]">
          <h2 class="title-chevron">
            {{ link.label }}
            <img src="assets/icons/chevron.svg"/>
          </h2>
        </a>
      }
    </div>

    <div cdkDropList (cdkDropListDropped)="drop($event)">
      @for (id of collectionIds(); track id) {
        <div cdkDrag class="collection-row">
          <app-collection [id]="id" [view]="CollectionDisplayMode.PREVIEW">
            <div 
              collectionMenu 
              (click)="$event.preventDefault(); $event.stopPropagation()" 
              class="collection-action">
              <app-dropdown
                [isOpenExternal]="activeMenuId() === id"
                (opened)="activeMenuId.set(id)"
                (closed)="activeMenuId.set(null)"
              >
                <app-collection-action 
                  [collectionId]="id"
                />
              </app-dropdown>

              <div class="drag-handle dots-button" cdkDragHandle>
                ⋮⋮
              </div>
            </div>
          </app-collection>

          <div *cdkDragPlaceholder class="placeholder"></div>
        </div>
      }
    </div>
  }
</section>
