.collection-row.cdk-drag-preview {
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  opacity: 0.9;
}
.placeholder {
  background: rgba(255, 255, 255, 0.05);
  border: 2px dashed #444;
  height: 200px;
  margin: 10px 0;
  border-radius: 8px;
}
.drag-handle {
  cursor: grab;
  display: flex;
  align-items: center;
}
.drag-handle:active {
  cursor: grabbing;
}

.links {
  padding: 0 var(--side-margin);
}