<section>
  <h1>Library</h1>

  <div class="container">
    <div *ngFor="let id of collectionIds()">
      <!-- <app-collection [id]="id" [view]="CollectionDisplayMode.PREVIEW">
        <div collectionMenu (click)="$event.preventDefault(); $event.stopPropagation()">
          <app-dropdown
            [isOpenExternal]="false"
          >
            <app-collection-action 
              [collectionId]="id"
            />
          </app-dropdown>
        </div>
      </app-collection> -->

      <app-collection [id]="id" [view]="CollectionDisplayMode.PREVIEW">
        <div collectionMenu (click)="$event.preventDefault(); $event.stopPropagation()">
          <app-dropdown
            [isOpenExternal]="activeMenuId() === id"
            (opened)="activeMenuId.set(id)"
            (closed)="activeMenuId.set(null)"
          >
            <app-collection-action 
              [collectionId]="id"
            />
          </app-dropdown>
        </div>
      </app-collection>
    </div>
  
    <a [routerLink]="['/collections']">
      <h2 class="title-chevron">
        Collections
        <img src="assets/icons/chevron.svg" style="height: 1em;"/>
      </h2>
    </a>
  </div>
</section>
