<app-action-bar [leftButtonType]="'settings'">
  <app-dropdown 
    [customClass]="'action-button action-button-right menu-background'" 
    [isOpenExternal]="isMenuOpen()"
  >
    <app-home-action (openMenu)="isMenuOpen.set(true)" (closeMenu)="isMenuOpen.set(false)"/>
  </app-dropdown>
</app-action-bar>

<section class="page-container">
  @if (context(); as context) {
    <div class="page-header">
      <h1>
        @if (context.type === 'SPECIFIC') {
          {{ context.value | humanize }}
        }
        Library
      </h1>
    </div>

    <div class="links">
      @let cxt = context.type === 'ALL' ? '' : context.value;

      <a [routerLink]="['/collections', cxt]">
        <h2 class="link title-chevron">
          Collections
          <img src="assets/icons/chevron.svg"/>
        </h2>
      </a>

      @for (link of visibleLinks(); track link.type) {
        <a [routerLink]="['/metadata-list', link.type, cxt]">
          <h2 class="link title-chevron">
            {{ link.label }}
            <img src="assets/icons/chevron.svg"/>
          </h2>
        </a>
      }
    </div>

    @for (id of collectionIds(); track $index) {
      <app-collection [id]="id" [view]="CollectionDisplayMode.PREVIEW">
        <div 
          collectionMenu 
          (click)="$event.preventDefault(); $event.stopPropagation()" 
          class="collection-action"
        >
          <app-dropdown
            [customClass]="'line-action'"
            [isOpenExternal]="activeMenuId() === id"
            (opened)="activeMenuId.set(id)"
            (closed)="activeMenuId.set(null)"
          >
            <app-collection-action 
              [collectionId]="id"
              (closeMenu)="activeMenuId.set(null);"
            />
          </app-dropdown>
        </div>
      </app-collection>
    }

    <div class="nav-space"></div>
  }
</section>
