.title {
  text-align: left;
  margin-bottom: 0px;
  margin: 0;
}

.viewport-container {
  width: 100%;
  height: calc((var(--card-width-line) * 1.5) + 30px);
  overflow-x: auto;
  overflow-y: hidden;
  contain: strict;

  /* remove scrollbar */
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer + Edge */
  -ms-overflow-style: none;
  /* Chrome + Safari + Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.line {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.menu-slot {
  margin-right: 4px;
}

:host {
  --dots-bg: none;
  --dots-hover: rgba(255, 255, 255, 0.2);
  --dots-blur: none;
}
