@if (loading) {
  <p>Loading ...</p>
}
@else if (collection) {
  <section>

    <a [routerLink]="collectionLink(query)">
      <h2 class="title">
        {{collection.name}} 
        <img src="assets/icons/chevron.svg"/>
      </h2>
    </a>

    <div #scrollElement class="viewport-container">
      <div
        style="height: 100%; position: relative;"
      >
        @for (vItem of virtualizer.getVirtualItems(); track vItem.key) {
          <div
            class="line"
            [style.width.px]="vItem.size"
            [style.transform]="'translateX(' + vItem.start + 'px)'"
            style="position: absolute; top: 0; left: 0; height: 100%;"
          >
            <div class="card"
              [style.--scale-width]="1 + (8 / getElementWidth(vItem.index))"
              [style.--scale-height]="1 + (8 / containerHeight())"
            >
              <a [routerLink]="['/media', mediaList()[vItem.index].id]">
                <img 
                  [src]="mediaList()[vItem.index].id | posterPath"
                  [alt]="mediaList()[vItem.index].title"
                  (load)="virtualizer.measure()" 
                />
              </a>  
            </div>
          </div>
        }
      </div>
    </div>

  </section>
}
