.title {
  text-align: left;
  margin: 0;
  margin-left: 4px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.viewport-container {
  width: 100%;
  height: calc((var(--card-width-line) * 1.5) + 2px);
  overflow-x: auto;
  overflow-y: hidden;
  contain: strict;

  /* scroll-snap-type: x mandatory; doesn't work with virtualization */

  /* remove scrollbar */
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer + Edge */
  -ms-overflow-style: none;
  /* Chrome + Safari + Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.line {
  display: flex;
  align-items: center;
  /* scroll-snap-align: start; doesn't work with virtualization */
}

.line-header {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  overflow: hidden;
  width: 100%;
}
.line-header a {
  min-width: 0;
  width: 100%;
}

.menu-slot {
  flex: none;
  margin-right: 4px;
  margin-bottom: 4px;
  scale: 1.2;
}

:host {
  --dots-bg: none;
  --dots-hover: rgba(255, 255, 255, 0.2);
  --dots-blur: none;
}
