<section style="height: 100%; position: relative;">

  <div class="line-header">
    <a [routerLink]="['/collection', collection.id]">
      <h3 class="title title-chevron">
        @switch (collection.collectionType) {
          @case (CollectionType.DYNAMIC) {
            <img class="collection-type" title="Dynamic Collection" src="assets/icons/dynamic.svg"/>
          }
          @case (CollectionType.SYSTEM) {
            <img class="collection-type" title="System Collection" src="assets/icons/system.svg"/>
          }
        }

        {{ collection.name }} 
        <img src="assets/icons/chevron.svg"/>
      </h3>
    </a>

    <div class="media-count">
      {{ mediaCount() }}
    </div>

    <div class="menu-slot">
      <ng-content select="[collectionMenu]"></ng-content>
    </div>
  </div>

  <div class="scroll-wrapper" [style.height.px]="containerHeight()+10">

    <button 
      class="scroll-button left" 
      [class.hidden]="virtualizer.scrollOffset()! <= 0"
      (click)="scroll('left')"
    >
      <img src="assets/icons/chevron.svg"/>
    </button>

    <div #scrollElement class="viewport-container viewport-container-line">
      @if (mediaLayoutData().length > 0) {
        <div
          [style.width.px]="virtualizer.getTotalSize()"
          style="height: 100%; position: relative;"
        >
          @for (vItem of virtualizer.getVirtualItems(); track vItem.key) {
            @if (getMediaLayout(vItem.index); as layout) {
              <div
                class="line"
                [style.width.px]="vItem.size"
                [style.transform]="'translateX(' + vItem.start + 'px)'"
                style="position: absolute; top: 0; left: 0;"
              >
                <ng-container 
                  [ngTemplateOutlet]="itemTemplate" 
                  [ngTemplateOutletContext]="{ mediaId: layout.id, width: getElementWidth(vItem.index), height: containerHeight()}"
                >
                </ng-container>
              </div>
            }
          }
        </div>
      }
    </div>

    <button 
      class="scroll-button right" 
      [class.hidden]="isAtEnd()"
      (click)="scroll('right')"
    >
      <img src="assets/icons/chevron.svg"/>
    </button>

  </div>

</section>
