<app-entity-row-layout [height]="height()" [isMenuOpen]="isMenuOpen()">

  @let collection = entity();

  <div text>
    @let isSearch = display() === 'search';
    @if (collection) {
      <p class="title">{{ (collection.collectionType | emojize) + " " + collection.name }}</p>
      @if (isSearch) {
        <p class="sub-info">{{ (collection.mediaType | emojize) + " " + (type | humanize) }}</p>
      }
    } @else {
      <div class="skeleton-text title"></div>
      @if (isSearch) {
        <div class="skeleton-text sub-info"></div>
      }
    }
  </div>

  <div icons>
    @if (collection) {
      <ng-content select="[icon]"></ng-content>
      @if (!customIcon()) {
        <app-collection-favorite-action 
          [collectionId]="collection.id"
          (click)="$event.preventDefault(); $event.stopPropagation()"
        ></app-collection-favorite-action>
      }
    }
  </div>

  <div menu>
    @if (collection) {
      <ng-content select="[menu]"></ng-content>
    }
  </div>

</app-entity-row-layout>
