<section class="collections-layout"
  [style.height]="'100%'"
  [style.width]="'100%'"
>
  <div 
    #scrollElement
    class="viewport-container"
    [style.height]="'100%'"
    [style.width]="'100%'"
    style="position: relative;"
  >
    @for (vItem of virtualizer.getVirtualItems(); track vItem.index + '-' + collectionIds()[vItem.index]) {
      @if (collectionIds()[vItem.index]; as id) {
        <div
          [style.height.px]="containerHeight()" 
          [style.width.%]="100" 
          [style.transform]="'translateY(' + vItem.start + 'px)'"
          style="position: absolute; top: 0; left: 0;"
        >
          <app-collection [id]="id" [view]="CollectionDisplayMode.PREVIEW">
            <div collectionMenu (click)="$event.preventDefault(); $event.stopPropagation()" class="collection-action">
              <app-dropdown
                [isOpenExternal]="activeMenuId() === id"
                (opened)="activeMenuId.set(id)"
                (closed)="activeMenuId.set(null)"
              >
                <app-collection-action 
                  [collectionId]="id"
                />
              </app-dropdown>
            </div>
          </app-collection>
        </div>
      }
    }
  </div>
</section>
