.skeleton-container {
  margin: 0 var(--side-margin);

  .skeleton-text {
    margin-top: 16px;
    height: 24px; 
    width: 192px;
  }
  
  .skeleton-card {
    margin-top: 8px;
    margin-left: 4px;
    width: var(--card-width-line);
    aspect-ratio: 2/3;
  }
}