.dots-btn {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  color: var(--text-color-soft);
  font-size: 0.6rem;
  cursor: pointer;
  padding: 4px;
  border-radius: 100%;

  background: var(--dots-bg);
  backdrop-filter: var(--dots-blur);
  &:hover {
    background: var(--dots-hover);
  }
}
