@if (media(); as media) {
  <button class="dropdown-button" (click)="favoriteAction.toggleFavorite()" style="display: flex; justify-content: center;">
    <app-media-favorite-action #favoriteAction [mediaId]="media.id"></app-media-favorite-action>
  </button>
  <button class="dropdown-button">
    <app-media-status-action [mediaId]="media.id"></app-media-status-action>
  </button>
  <button class="dropdown-button" (click)="openPicker($event)">
    Add to collection
  </button>

  @if (media.externalId) {
    <button class="dropdown-button" (click)="refreshMediaData()">
      Refresh data
    </button>
  }

  @if (canDeleteFromCollection()) {
    <button class="dropdown-button delete-item" (click)="onDeleteFromCollection()">
      Delete from collection
    </button>
  }

  <ng-template #pickerTemplate>
    <app-collection-picker 
      [media]="media"
      (onCancel)="closePicker()"
      (onConfirm)="addToSelectedCollection($event); closePicker()"
    />
  </ng-template>
}
