<button 
  [minWidth]="260"
  [appDropdownTrigger]="dotsMenu"
  class="tool-item" 
  [isOpenExternal]="true"
>
  <img src="assets/icons/sort.svg" alt="List" class="layout-icon" />
</button>

<ng-template #dotsMenu>
  <div class="dropdown-menu">
    <div
      cdkDropList 
      (cdkDropListDropped)="drop($event)"
      class="sort-list"
    >

      @for (order of sortOrder(); track order.field) {
        <div class="dropdown-button sort-item" cdkDrag>

          <div *cdkDragPlaceholder class="sort-placeholder"></div>

          <div class="drag-handle" cdkDragHandle>
            ⋮⋮
          </div>

          <select [value]="order.field" (change)="updateField($index, $any($event.target).value)">
            @for (field of getFieldsForIndex($index); track field) {
              <option [value]="field" [selected]="field === order.field">
                {{ field | humanize }}
              </option>
            }
          </select>

          <button (click)="toggleDirection($index)" class="btn-direction">
            {{ order.direction === 'ASC' ? '↑' : '↓' }}
          </button>

          <button (click)="$event.stopPropagation(); removeSort($index)" class="delete-item btn-remove">✕</button>
        </div>
      }

    </div>

    @if (canAddSort() && sortOrder().length > 0) {
      <hr class="dropdown-separator">
    }

    @if (canAddSort()) {
      <button 
        class="dropdown-button"
        (click)="$event.stopPropagation(); addSort()" 
      >
        + Ajouter un critère
      </button>
    }
  </div>
</ng-template>
