.lightbox-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(8px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    // max-width: 100%;
    // max-height: calc(90vh - 40px);
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    object-fit: contain;
  }
}

.close-btn {
  position: absolute;
  top: -50px;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
}

/* desktop */
@media (min-width: 1025px) {
  .close-btn {
    top: -40px;
    right: -40px;
  }
}

.info {
  position: absolute;
  bottom: -30px;
  font-size: 0.9rem;
  color: var(--color-light-soft);
}