<nav class="nav">
  <div class="nav-group menu-background">
    <a 
      (click)="handleNavigation()"
      [class.active]="isTypeActive()" 
      class="nav-item"
    >
      🏠
    </a>
    <div class="divider"></div>
    @for (type of mediaType; track type) {
      <a 
        (click)="handleNavigation(type)"
        [class.active]="isTypeActive(type)" 
        class="nav-item"
      >
        {{ type | emojize }}
      </a>
    }
  </div>
  <div class="nav-search menu-background">
    <a 
      [routerLink]="['/search']"
      [class.active]="isTypeActive('SEARCH')" 
      class="nav-item"
    >
      🔍
    </a>
  </div>
</nav>
