<nav class="nav menu-background">
  <div class="nav-item" [class.active]="isTypeActive(PageType.HOME)" >
    <a 
      (click)="onPageChange('home')"
      [class.active]="isTypeActive(PageType.HOME)" 
    >
      🏠
    </a>
  </div>

  <div class="nav-item layout-selector">
    @if (currentContext(); as context) {
      @if (context.type === 'ALL') {
        <span class="layout-icon">🪎</span>
      }
      @else {
        <span class="layout-icon">{{ context.value | emojize }}</span>
      }

      <select 
        [value]="context" 
        (change)="onContextChange($any($event.target).value)"
      >
        <option value="" [selected]="context.type === 'ALL'">🪎 All</option>
        @for (opt of mediaType; track opt) {
          <option [value]="opt" [selected]="context.type === 'SPECIFIC' && opt === context.value">{{ opt | emojize }} {{ opt | humanize }}</option>
        }
      </select>
    }
  </div>

  <div class="nav-item" [class.active]="isTypeActive(PageType.SEARCH)" >
    <a 
      (click)="onPageChange('search')"
      [class.active]="isTypeActive(PageType.SEARCH)"
    >
      🔍
    </a>
  </div>
</nav>
