.nav {
  padding: 4px 0 5px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  border-bottom: none;
  border-left: none;
  border-right: none;
}

.nav-navigate {
  display: flex;
  align-items: center;
}

.nav-item {
  width: 24px;
  height: 24px;
  border-radius: 32px;
  padding: 8px 16px;
  background-color: rgba(0,0,0,0);
  font-size: 1.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease;
  will-change: background-color;
  cursor: pointer;

  &.active {
    background-color: var(--color-transparent-light-softer);
  }
  &:hover {
    background-color: var(--color-transparent-light-soft);
  }
}

.ctx-item {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 12px;
  background-color: var(--color-transparent-light-softer-2);
  text-decoration: none;
  transition: background-color 0.2s ease;
  will-change: background-color;
  cursor: pointer;

  &:hover {
    background-color: var(--color-transparent-light-soft-2);
  }
}
