<nav class="nav menu-background">
  <a 
    class="nav-item"
    (click)="onPageChange('home')"
    [class.active]="isTypeActive(PageType.HOME)" 
  >
    <img src="assets/icons/home.svg"/>
  </a>

  <div class="nav-item layout-selector">
    @if (currentContext(); as context) {
      @if (context.type === 'ALL') {
        <span class="layout-icon">🪎</span>
      }
      @else {
        <span class="layout-icon">{{ context.value | emojize }}</span>
      }

      <select 
        [value]="context" 
        (change)="onContextChange($any($event.target).value)"
      >
        <option value="" [selected]="context.type === 'ALL'">🪎 All</option>
        @for (opt of mediaType; track opt) {
          <option [value]="opt" [selected]="context.type === 'SPECIFIC' && opt === context.value">{{ opt | emojize }} {{ opt | humanize }}</option>
        }
      </select>
    }
  </div>

  <a 
    class="nav-item"
    (click)="onPageChange('search')"
    [class.active]="isTypeActive(PageType.SEARCH)"
  >
    <img src="assets/icons/search.svg"/>
  </a>
</nav>
